<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 heading">
      <h1>Top Div with all the top headings</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <h3>Side Bar</h3>
    </div>
    <div class="col-xs-9">
      <h2>Main Content</h2>
    </div>
  </div>
</div>