<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 heading">
      <h1>Top Div with all the top headings</h1>
    </div>
  </div>

  <div class="row">
    <div>
      <h2>Main Content</h2>
      <% @recipes.each do |recipe| %>
      <%= recipe.recipe_name %>
      <% end %>
    </div>
  </div>
</div>